/*
 * Copy Right: Tencent ISUX
 * Project: Qzone V6
 * Comments: 手机空间
 * Export to: all
 * @author: Chandleryu
*/

@import url("import_reset.css");


/*base*/
.none {display:none}
.clr {clear: both;height: 1px;overflow: hidden;}
body {color:#373737;}
.wrapper {width:100%;}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
.transition {-webkit-transition: all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.texthidden {position: absolute !important;clip: rect(1px, 1px, 1px, 1px);padding:0 !important;border:0 !important;height: 1px !important;
	width: 1px !important;overflow: hidden;}

/* 头部
 *---------------------------------------------------------------------------------*/
#page-header {height:53px;background:url(img/hero-top-border.png) bottom center repeat-x;padding-bottom:2px;}
#page-header .wrapper {position:relative;}

/* logo */
#page-header .logo {display:block;width:70px;height:24px;background-image: url(slice/mobile/logo.png);position:absolute;left:12px;top:16px;}
#page-header .logo span {position: absolute !important;clip: rect(1px, 1px, 1px, 1px);padding:0 !important;border:0 !important;height: 1px !important;width: 1px !important;overflow: hidden;}

/* 导航 */
.top-nav {position:absolute;right:20px;top:20px;font-size:13px;}
.top-nav li{float:left;margin-left:28px;}
.top-nav a {display:block;color:#9d9d9d;}
.top-nav .current a {display:block;color:#000;}

/* page-footer
 *---------------------------------------------------------------------------------*/
#page-footer{color:#9c9c9c;text-decoration:none;text-align:center;background:#f3f3f3;padding:20px 10px;font-size:12px;}
#page-footer a{color:#9c9c9c;text-decoration:none;text-align:center;}
#page-footer a:hover,.links a:hover{text-decoration:underline;}

/* hero */
.hero {height:272px;position:relative;z-index:2; width:100%;overflow-x: scroll;overflow-y: hidden;}

.hero .hero-inner {width:320%;}
.hero .next {display:none}
.bg1{width:320px;float:left;background:#fff2e8 url(img/mobile/bg1.jpg) no-repeat center top;height:272px; }
.bg2{width:320px;float:left;background:#1b1323 url(img/mobile/bg2.jpg) no-repeat center top;height:272px; }
.bg3{width:320px;float:left;background:#65aef0 url(img/mobile/bg3.jpg) no-repeat center top;height:272px;}

/* iphone 4+
 *---------------------------------------------------------------------------------*/
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

	#page-header .logo {background: url(slice/logo.png);background-size: 100% 100%; }
	.bg1{background:#fff2e8 url(img/mobile/bg1@2x.jpg) no-repeat center top;background-size: 100% 100%; }
	.bg2{background:#1b1323 url(img/mobile/bg2@2x.jpg) no-repeat center top;background-size: 100% 100%;}
	.bg3{background:#65aef0 url(img/mobile/bg3@2x.jpg) no-repeat center top;background-size: 100% 100%;}
}


.hero .btn-1 {display:block;position:absolute;left: 0;top: 0;height:272px;width:320px;}
.hero .btn-2,
.hero .btn-3,
.hero .btn-4 {display:none}

#download-section {display:none}
#download-footer {display:none}