/*
 * Copy Right: Tencent ISUX
 * Project: Qzone V6
 * Comments: 手机空间
 * Export to: all
 * @author: Chandleryu
*/

@import url("import_reset.css");


/*base*/
.none {display:none}
.clr {clear: both;height: 1px;overflow: hidden;}
body {color:#373737;}
.wrapper {width:100%;}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
.transition {-webkit-transition: all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.texthidden {position: absolute !important;clip: rect(1px, 1px, 1px, 1px);padding:0 !important;border:0 !important;height: 1px !important;
	width: 1px !important;overflow: hidden;}

/* 头部
 *---------------------------------------------------------------------------------*/
#page-header {height:108px;background:url(img/hero-top-border.png) bottom center repeat-x;padding-bottom:2px;}
#page-header .wrapper {position:relative;}

/* logo */
#page-header .logo {display:block;width:140px;height:48px;background-image: url(slice/logo.png);position:absolute;left:0;top:32px;}
#page-header .logo span {position: absolute !important;clip: rect(1px, 1px, 1px, 1px);padding:0 !important;border:0 !important;height: 1px !important;width: 1px !important;overflow: hidden;}

/* 导航 */
.top-nav {position:absolute;right:0;top:60px;}
.top-nav li{float:left;margin-left:62px;}
.top-nav a {display:block;}
.top-nav a span {position: absolute !important;clip: rect(1px, 1px, 1px, 1px);padding:0 !important;border:0 !important;
	height: 1px !important;width: 1px !important;overflow: hidden;}
.top-nav .nav-1{background-image: url(slice/nav-1.png);height:24px;width:46px;}
.top-nav .current .nav-1,
.top-nav .nav-1:hover{background-image: url(slice/nav-1-hover.png)}
.top-nav .nav-2{background-image: url(slice/nav-2.png);height:24px;width:46px;}
.top-nav .current .nav-2,
.top-nav .nav-2:hover{background-image: url(slice/nav-2-hover.png)}
.top-nav .nav-3{background-image: url(slice/nav-3.png);height:24px;width:94px;}
.top-nav .current .nav-3,
.top-nav .nav-3:hover{background-image: url(slice/nav-3-hover.png)}

/* page-footer
 *---------------------------------------------------------------------------------*/
#page-footer{color:#9c9c9c;text-decoration:none;text-align:center;background:#f3f3f3;padding:28px 0;}
#page-footer a{color:#9c9c9c;text-decoration:none;text-align:center;}
#page-footer a:hover,.links a:hover{text-decoration:underline;}

/* hero */
.hero {height:544px;position:relative;z-index:2; width:100%;}
.hero .wrapper {position:relative;}
.hero .next {display:none}
.hero .phone {background-image: url(img/mobile/hero-phone-bg.png);height:450px;width:308px;position:absolute;top:95px;left:0;}
.bg1{background:#fff2e8 url(img/mobile/hero-bg-1.jpg) no-repeat center top;height:544px; position:absolute; z-index:2;}
.bg2{background:#1b1323 url(img/mobile/hero-bg-2.jpg) no-repeat center top;height:544px; position:absolute; z-index:2;}
.bg3{background:#65aef0 url(img/mobile/hero-bg-3.jpg) no-repeat center top;height:544px; position:absolute; z-index:2;}
.phone .phone-inner {height:250px;width:166px;position:absolute;left:97px;top:68px;}
.bg1 .phone .phone-inner{background-image: url(img/hero-phone-1.jpg);}
.bg2 .phone .phone-inner{background-image: url(img/hero-phone-2.jpg);}
.bg3 .phone .phone-inner{background-image: url(img/hero-phone-3.jpg);}
.hero .slogan {display:block;height:218px;width:302px;position:absolute;left:200px;top:100px;}
.bg1 .slogan {background-image: url(img/mobile/hero-text-1.png);position:absolute;left:320px;top:103px;}
.bg2 .slogan {background-image: url(img/mobile/hero-text-2.png);position:absolute;left:320px;top:103px;}
.bg3 .slogan {background-image: url(img/mobile/hero-text-3.png);position:absolute;left:320px;top:103px;}


.hero .btn-1 {display:block;height:68px;width:215px;background-image: url(slice/btn-1.png);position:absolute;left: 324px;top: 349px;}
.hero .btn-1:hover {background-image:none}
.hero .btn-1 b {height:68px;width:215px;background-image: url(slice/btn-1-hover.png);position:absolute;left:0;top:0;display:none}
.hero .btn-1:hover b{display:block;}
.hero .btn-2,
.hero .btn-3,
.hero .btn-4 {display:none}

#download-section {display:none}
#download-footer {display:none}