/*
 * Copy Right: Tencent ISUX
 * Project: Qzone V6
 * Comments: 手机空间
 * Export to: all
 * @author: Chandleryu
*/

@import url("import_reset.css");


/*base*/
.none {display:none}
.clr {clear: both;height: 1px;overflow: hidden;}
body {color:#373737;}
.wrapper {width:100%;}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
.transition {-webkit-transition: all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.texthidden {position: absolute !important;clip: rect(1px, 1px, 1px, 1px);padding:0 !important;border:0 !important;height: 1px !important;
	width: 1px !important;overflow: hidden;}

/* 头部
 *---------------------------------------------------------------------------------*/
#page-header {height:108px;background:url(img/hero-top-border.png) bottom center repeat-x;padding-bottom:2px;}
#page-header .wrapper {position:relative;}

/* logo */
#page-header .logo {display:block;width:70px;height:24px;background-image: url(slice/logo.png);position:absolute;left:12px;top:16px;}
#page-header .logo span {position: absolute !important;clip: rect(1px, 1px, 1px, 1px);padding:0 !important;border:0 !important;height: 1px !important;width: 1px !important;overflow: hidden;}

/* 导航 */
.top-nav {position:absolute;right:20px;top:20px;font-size:12px;}
.top-nav li{float:left;margin-left:31px;}
.top-nav a {display:block;color:#9d9d9d;}
.top-nav .current a {display:block;color:#000;}

/* page-footer
 *---------------------------------------------------------------------------------*/
#page-footer{color:#9c9c9c;text-decoration:none;text-align:center;background:#f3f3f3;padding:28px 0;}
#page-footer a{color:#9c9c9c;text-decoration:none;text-align:center;}
#page-footer a:hover,.links a:hover{text-decoration:underline;}

/* hero */
.hero {height:544px;position:relative;z-index:2; width:100%;}
.hero .wrapper {position:relative;}
.hero .next {display:none}
.hero .phone {background-image: url(img/mobile/hero-phone-bg.png);height:450px;width:154px;position:absolute;top:47px;left:0;}
.bg1{background:#fff2e8 url(img/mobile/hero-bg-1.jpg) no-repeat center top;height:272px; position:absolute; z-index:2;}
.bg2{background:#1b1323 url(img/mobile/hero-bg-2.jpg) no-repeat center top;height:272px; position:absolute; z-index:2;}
.bg3{background:#65aef0 url(img/mobile/hero-bg-3.jpg) no-repeat center top;height:272px; position:absolute; z-index:2;}
.phone .phone-inner {height:125px;width:83px;position:absolute;left:49px;top:34px;}
.bg1 .phone .phone-inner{background-image: url(img/hero-phone-1.jpg);}
.bg2 .phone .phone-inner{background-image: url(img/hero-phone-2.jpg);}
.bg3 .phone .phone-inner{background-image: url(img/hero-phone-3.jpg);}
.hero .slogan {display:block;height:218px;width:151px;position:absolute;left:100px;top:50px;}
.bg1 .slogan {background-image: url(img/mobile/hero-text-1.png);position:absolute;left:160px;top:51px;}
.bg2 .slogan {background-image: url(img/mobile/hero-text-2.png);position:absolute;left:160px;top:51px;}
.bg3 .slogan {background-image: url(img/mobile/hero-text-3.png);position:absolute;left:160px;top:51px;}


.hero .btn-1 {display:block;height:34px;width:107px;background-image: url(slice/btn-1.png);position:absolute;left: 166px;top: 174px;}
.hero .btn-2,
.hero .btn-3,
.hero .btn-4 {display:none}

#download-section {display:none}
#download-footer {display:none}